Section: python
Priority: extra
Maintainer: Miguel Jacq <mig@mig5.net>
Depends: python, python-twisted, python-crypto, python-mysqldb, adduser
Homepage: http://code.google.com/p/kippo/
Package: kippo
Version: 0.5+svn20110721
Architecture: all
Description: Medium-interaction SSH honeypot.
 Kippo is a medium interaction SSH honeypot  written in Python, 
 designed to log brute force attacks and the entire shell interaction 
 performed by the attacker.
